@model IEnumerable<InAndOut.Models.Item>

<div class="container" p-3>
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Borrowed Items List</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-action="Create"> Create new Item </a>
        </div>
    </div>

     <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Borrower</th>
                    <th>Lender</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ItemName</td>
                        <td>@item.Borrower</td>
                        <td>@item.Lender</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    
</div>